    @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400;800&family=Noto+Sans:wght@400;700&display=swap');
/* Heebo */


main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3eedc;

}

.left-side {
    width: 50vw;
    height: 100vh;
    background-color: #ff4500;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 5px 4px #000000
}

.left-side img {
    width: 500px;
    height: auto;
    position: absolute;
    text-align: center;
    margin-top: 50px;
}

.left-side .title-signUp {
    color: white;
    margin-bottom: 540px;
    font-family: "Heebo";
    text-transform: uppercase;
    font-size: 40px;
    text-shadow: 2px 4px 1px #000000;
}

.right-side {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    padding: 2px;
    /* position: fixed; */

}

form h2 {
    font-weight: "Heebo";
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #5959f0;
}

form input {
    border: none;
    background-color: rgba(255, 69, 0, 0.9);
    border-radius: 10px;
    padding: 12px;
    color: black;
    font-size: 20px;
    font-weight: 200;
    outline: none;
    margin: 5px
}

.box-names {
    margin-top: 10px
}

form .email-password {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

form .email-password label {
    margin-right: 20px;
}


form label {
    font-weight: 700;
    margin: 4px
}

form span {
    margin-top: 5px;
    margin-left: 12px;
}

form .buttons {
   display: flex;
   flex-direction: column;
   margin-top: 10px;
   padding: 10px;
   align-items: center;
}

form button {
    height: 60px;
    width: 160px;
    border: none;
    margin: 2px;
    border-radius: 10px;
    font-family: "Heebo";
    font-weight: 800;
    text-transform: uppercase;
}

form button[type="submit"] {
    background-color: #5959f0;
}

form button[type="submit"]:hover {
    transition: 0.4s;
    color: white;
    box-shadow: 0px 5px 40px black;
}

form button[type="reset"] {
    border: 3px solid red;
    background: transparent;
}

form button[type="reset"]:hover {
    transition: 0.4s;
    background-color: red;
    color: white;
    box-shadow: 0px 5px 40px #dd4747;
}